* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


main {
    display: grid;
    height: 100vh;
    width: fit-content;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
    margin: auto;

}

.gridd {
    height: 300px;
    width: 300px;

    z-index: 100;

}

.closed {
    background-color: blue ;
    background-image: none !important;
}
